<p-toast></p-toast>
<div class="flex flex-row justify-content-center mt-8">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
      <div class="text-center mb-3">
          <div class="text-3xl font-medium mb-1">Forget password?</div>
      </div>
  
      <form [formGroup]="form" (ngSubmit)="processForm()">
        <div class="flex flex-column gap-1">
          <div class="flex flex-column gap-1 h-5rem">
            <div class="text-sm font-medium">
              Enter your email here: 
            </div>
            <div>
              <input type="text" pInputText [style]="{ width:'30rem' }" formControlName="email" class="w-full"/>
            </div>
            <div *ngIf="form.get('email')?.dirty && form.get('email')?.invalid">
              <div class="flex flex-row justify-content-start p-error block text-xs gap-1">
                <div class="flex flex-column justify-content-center">
                  <i class="pi pi-exclamation-circle" style="font-size: 0.6rem"></i>
                </div>
                <div class="flex flex-column justify-content-center">
                  Please enter a valid email address
                </div>
              </div>
            </div>
          </div>
          

          
          <button pButton pRipple label="Submit" class="w-full" type="submit" [disabled]="form.invalid" [loading]="">
          </button>
        </div>
      </form>
  </div>
</div>
