<p-toast></p-toast>
<div class="flex flex-row justify-content-center mt-8">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div *ngIf="result || error; else loading">
      <div *ngIf="validString; else notValid">
        <div class="flex flex-column">
          <div class="text-center mb-3">
              <div class="text-3xl font-medium mb-1">Password reset success!</div>
          </div>
          <div class="text-center">
            <p>
              Your password has been successfully reset. Please check your email for your new password.
            </p>
          </div>
        </div>
      </div>
      <ng-template #notValid>
        <div class="text-center">
          <div class="flex flex-column">
            <div class="text-center mb-3">
                <div class="text-3xl font-medium mb-1">Error!</div>
            </div>
            <div class="text-center">
              <p>
                This link to reset password is not valid.
              </p>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <ng-template #loading>
      <div class="flex flex-column">
        <div class="flex flex-row justify-content-center gap-2">
          <div class="flex flex-column justify-content-center">
            <p-progressSpinner [style]="{width: '30px', height: '30px'}" styleClass="custom-spinner" strokeWidth="8" fill="white" animationDuration=".5s"></p-progressSpinner>
          </div>
          <div class="flex flex-column justify-content-center">
            <div class="text-3xl font-medium mb-1">Resetting your password...</div>
          </div>
        </div>
        <div class="text-center">
          <p>
            Hold on, we're resetting your password...
          </p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
