<p-toast></p-toast>
<div class="flex flex-row justify-content-center mt-8">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
      <div class="text-center mb-3">
          <div class="text-3xl font-medium mb-1">Change password</div>
      </div>
      <form [formGroup]="form" (ngSubmit)="processForm()">
        <div class="flex flex-column gap-1">
          <div class="flex flex-column gap-1 h-5rem">
            <div class="text-sm font-medium">
               Current password *
            </div>
            <div>
              <p-password [feedback]="false" formControlName="oldpassword" [toggleMask]="true" [style]="{width:'100%'}"></p-password>
            </div>
            <div *ngIf="form.get('oldpassword')?.dirty && form.get('oldpassword')?.invalid">
              <div class="flex flex-row justify-content-start p-error block text-xs gap-1">
                <div class="flex flex-column justify-content-center">
                  <i class="pi pi-exclamation-circle" style="font-size: 0.6rem"></i>
                </div>
                <div class="flex flex-column justify-content-center">
                  Password is required
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-column gap-1 h-5rem">
            <div class="text-sm font-medium">
              New password *
            </div>
            <div>
              <p-password formControlName="password" [toggleMask]="true" [style]="{ width: '100%'}">
                <ng-template pTemplate="header">
                  <div class="text-xs font-bold mb-3">Pick a password</div>
              </ng-template>
              <ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <p class="text-sm font-medium">Suggestions</p>
                  <ul class="pl-2 ml-2 mt-0 text-sm font-light" style="line-height: 1.5">
                      <li>At least one lowercase</li>
                      <li>At least one uppercase</li>
                      <li>At least one numeric</li>
                      <li>Minimum 8 characters</li>
                  </ul>
              </ng-template>
              </p-password>
            </div>
            <div *ngIf="form.get('password')?.dirty && form.get('password')?.invalid">
              <div class="flex flex-row justify-content-start p-error block text-xs gap-1">
                <div class="flex flex-column justify-content-center">
                  <i class="pi pi-exclamation-circle" style="font-size: 0.6rem"></i>
                </div>
                <div class="flex flex-column justify-content-center">
                  Password is required
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-column gap-1 h-5rem">
            <div class="text-sm font-medium">
               Confirm new password *
            </div>
            <div>
              <p-password [feedback]="false" formControlName="repassword" [toggleMask]="true" [style]="{width:'100%'}"></p-password>
            </div>
            <div *ngIf="form.get('repassword')?.dirty && form.getError('passwordMismatch')">
              <div class="flex flex-row justify-content-start p-error block text-xs gap-1">
                <div class="flex flex-column justify-content-center">
                  <i class="pi pi-exclamation-circle" style="font-size: 0.6rem"></i>
                </div>
                <div class="flex flex-column justify-content-center">
                  Passwords do not match
                </div>
              </div>
            </div>
          </div>
          <button pButton pRipple label="Change password" icon="pi pi-key" class="w-full" type="submit" [disabled]="form.invalid">
          </button>
        </div>
      </form>
  </div>
</div>
